.header {
    background-color: rgb(25, 228, 195);
    border-radius: 20px;
}

.log-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 35px;
}

.photo {
    width: 80px;
    height: 80px;
}

.user-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-btn {
    height: 30px;
    width: 125px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(64, 146, 166);
    border-radius: 20px;
    border-style: none;
    color: white;
}

#login-btn:hover {
    background-color: rgb(11, 90, 247);
    transition: background-color 0.8s ease;

}

.modal-btn {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(202, 241, 204);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(91, 182, 93);
    width: 40%;
    border-radius: 10px;
}

.but {
    margin-top: 10px;
    background-color: rgb(64, 146, 166);
    border-radius: 5px;
    border-style: none;
    padding: 4px;
}

.but:hover {
    background-color: rgb(82, 164, 185);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#visit-title-input {
    border-radius: 5px;
    margin-top: 15px;
    width: 350px;
    height: 40px;
    border: 2px solid rgb(91, 182, 93);
    opacity: 0.8;

}



#visit-status-select {
    margin-top: 15px;
    height: 40px;
    border: 2px solid rgb(91, 182, 93);
    opacity: 0.8;
    border-radius: 5px;
}


#visit-priority-select {
    margin-top: 15px;
    height: 40px;
    border: 2px solid rgb(91, 182, 93);
    opacity: 0.8;
    border-radius: 5px;

}



#visit-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 30px;
    width: 145px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 237, 237);
    border: 2px solid rgb(91, 182, 93);
    border-radius: 5px;

}

#visit-submit:hover {
    background-color: rgb(211, 239, 211);
    transition: background-color 0.8s ease;
}

.picture {
    width: 400px;
    height: 400px;
    margin-top: 40px;
    box-shadow: 10px 10px 55px #000;
}

body {
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/pexels-karolina-grabowska-4386466.jpg'); */
    text-align: center;
    /* content: "";
    position: relative; */
    background-color: rgb(181, 228, 212);

}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px; */
    margin: 0px 30px;
}

.modal {
    display: flex;
}

.par {
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(4, 0, 108);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#no-items-msg {
    color: red;
    font-weight: 800;
    font-size: 25px;
}

.msg-no {
    text-decoration: none;
}

.visit-modal {
    background-color: rgb(202, 241, 204);
    padding: 20px 70px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    border-radius: 10px;
}

.visit-modal-hide {
    display: none;
}


.close-visit,
.visit-btn {
    margin-top: 20px;
    background-color: rgb(64, 146, 166);
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 6px;
}

.close-visit:hover,
.visit-btn:hover {
    background-color: rgb(82, 164, 185);
}

.card {
    background-color: rgb(202, 241, 204);
    color: rgb(64, 146, 166);
    font-size: larger;
    font-weight: 700;
    width: 220px;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    border-radius: 20px;
}

#visit-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
}


.card .additional-info {
    display: none;
  }

  #show-more {
    height: 40px;
    width: 135px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(64, 146, 166);
    border-radius: 20px;
    border-style: none;
    color: white;
}

#show-more:hover {
    background-color: rgb(11, 90, 247);
    transition: background-color 0.8s ease;

}